node_modules/
package-lock.json
.prettierignore
.next
next-env.d.ts
node_modules
yarn.lock
package-lock.json
public
.idea
coverage

setupTests.js
jest.config.js
.babelrc
__tests__/mocks/styleMock.js

tailwind.config.js
postcss.config.js
